@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mainContainer .menu {
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
}

.mainContainer .menu ul {
    display: flex;
}

.mainContainer .menu li {
    cursor: pointer;
    list-style: none;
    padding: .5rem 1rem;
    transition: all .2s ease;
}

.mainContainer .menu li:first-child {
    border-radius: .5rem 0 0 .5rem;
}

.mainContainer .menu li:last-child {
    border-radius: 0 .5rem .5rem 0;
}

.mainContainer .menu li.active {
    color: #fff;
    background: rgb(106 149 242 / 80%);
}

.mainContainer .menu li:hover {
    color: #fff;
    background: rgb(106 149 242 / 80%);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.card{
   
    margin: .4rem;
    max-width: 20rem;
    min-width: 18rem;
    
    /* border-radius: .6rem; */
    /* background: url(../../asset/card-lang.png); */
    /* background-color: rgba(8, 8, 8, 0.562); */
}

.card__content {
    background-image: url(../../asset/card-lang.png);
    background-size: cover;
    cursor: pointer;
    /* transition: 0.3s all ease-in-out; */
    transition: all .4s ease-in-out;
  }
  .card__content:hover {
    margin-top: -10px;
       box-shadow: 2px 16px 14px #272626ad;
    /* transform: translateY(-.45%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2); */
  } 

 .card .card-header {
    padding: .5rem 1rem;
    font-size: 1.6rem;
}

.card .card-header .sNo {
    display: grid;
    width: 1.6rem;
    height: 1.6rem;
    margin-top: .4rem;
    font-size: 1rem;
    border-radius: 5rem;
    place-items: center;
    color: rgba(255, 255, 255);
    border: 2px solid rgb(255 255 255 / 60%);
}

.card .card-header .type {
    font-size: .9rem;
    margin-top: .4rem;
    border-radius: 5rem;
    text-transform: uppercase;
    color: rgb(0 0 0 / 60%);
}

.card .card-header h3 {
    text-align: left;
}

.card .card-body {
    display: grid;
    place-items: left;
    margin-left: 20px;
}

.card .card-header .desc,
.card .card-header .line {
    font-size: .8rem;
}

.card .card-header .line {
    width: 100%;
    text-align: right;
    position: relative;
}

.card .card-header .line::before {
    content: '';
    top: 50%;
    left: 0;
    width: 72%;
    height: .01rem;
    position: absolute;
    background-color: rgb(0 0 0 / 20%);
}


.irNow{

    border-radius: 50%;
    padding: 10px;
    border: solid #fff;
    background:transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
}

.irNow:hover {
    color: #fff;
    background-color: #94959762;
}

.title{
    margin-top: 2.5rem;
    color: #fff;
}

.title-menu{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    /* color: #fff; */
}